*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2; 
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-image: url(background.png) ;
    filter: blur(2px);
    background-position: center;
}
.form-login{
    position: absolute;
    display: flex;
    width: 30em;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    z-index: 4;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-weight: 200;
    font-size: 2em;
    text-align: center;
    margin: 40px;
    color: #fff;
}
    
.forget-form{
    color:rgb(150, 150, 150);;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form > p{
    font-size: 14px;
    margin-left: 5px;

}
input[type="password"], [type="email"]{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(221, 221, 221);
    outline: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(150, 150, 150);
}
button{
    padding: 15px;
    width: 30em;
    margin:20px 0;
    align-self: center;
    border: 1px solid #13b154 ;
    color: #13b154;
    background: none;
    border-radius: 10px;
    font-size: 14px ;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    
}
button:hover{
    color: white;
    background-color: #13b154;

}
.social{
    text-align: center;
}
.social p{
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(150, 150, 150);
}
.social i{
    cursor: pointer;
    font-size: 28px;
}
#face{
    color: #3F5890;
}
#twitter{
    color: #5EA9EC;
}