* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.container__background {
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/img/background.png);
    filter: blur(4px);
    background-position: center;
}

.container__form {
    position: absolute;
    display: flex;
    width: 30em;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    z-index: 3;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title__h1 {
    font-weight: 200;
    font-size: 2em;
    text-align: center;
    margin: 40px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}
.title__span{
    color: #36fd89;
    font-weight: 600;
}
.form__email, .form__password{
    font-size: 1rem;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(221, 221, 221);
    outline: none;
    border-radius: 5px;
}
.form__email:focus, .form__password:focus {
    border: 2px solid #36fd89;}

.forget{
    color: rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.forget__input{
    accent-color: #36fd89;
}
.forget__box{
    display: flex;
    align-items: center;
}
.forget__form{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.forget__a, .forget__p {
    font-size: 0.9rem;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(150, 150, 150);

}
.forget__p{
    justify-self: flex-start;
    font-weight: 400;
}

button {
    padding: 15px;
    width: 30em;
    margin: 20px 0;
    align-self: center;
    border: 1px solid #36fd89;
    color: #36fd89;
    background: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 600ms all;

}

button:hover {
    color: rgb(0, 0, 0);
    background-color: #36fd89;

}

.social {
    text-align: center;
    color: #d6d6d6;
}

.social__p {
    margin-bottom: 20px;
    font-size: 0.85rem;
}

.social__icon {
    cursor: pointer;
    font-size: 28px;
    margin: 0 10px;
}