* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.container__background {
    position: relative;
    background-image: url(/assets/imgs/background.png);
    background-position: 50%;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    filter: blur(4px);
}

.container__form {
    position: absolute;
    display: flex;
    width: 30em;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    z-index: 3;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title__h1 {
    font-weight: 200;
    font-size: 2em;
    text-align: center;
    margin: 40px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.title__span {
    color: #36fd89;
    font-weight: 600;
    position: relative;
}

.form__email,
.form__password {
    font-size: 1rem;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(221, 221, 221);
    outline: none;
    border-radius: 5px;
}

.form__email:focus,
.form__password:focus {
    border: 2px solid #36fd89;
}

.forget {
    color: rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.forget__input {
    accent-color: #36fd89;
}

.forget__box {
    display: flex;
    align-items: center;
}

.forget__form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.forget__a,
.forget__p {
    font-size: 0.9rem;
    margin-left: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(150, 150, 150);

}

.forget__p {
    justify-self: flex-start;
    font-weight: 400;
}
.forget__a:hover{
    color: #2dff84;
}

.form__btn {
    padding: 1rem;
    width: 100%;
    margin: 30px 0;
    align-self: center;
    color: #000000;
    border: none;
    background: #07e262e5;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: 600ms all;

}

.form__btn:hover {
    background-color: #04ff6d;
}
.form__btn:active {
    background-color: #028a3b;
}

.social {
    text-align: center;
    color: #d6d6d6;
}

.social__p {
    margin-bottom: 20px;
    font-size: 0.85rem;
}

.social__icon {
    cursor: pointer;
    font-size: 28px;
    margin: 0 10px;
    transition: 500ms ease-in-out;
}
.social__icon--git:hover{
    color: #ff4e6c;
}
.social__icon--face:hover{
    color:#1877F1;
}
.social__icon--twitter:hover{
    color: rgb(20, 173, 233);
}